<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="posts">
    <app-post
      *ngFor="let post of posts"
      (deletePost)="onDeletePost($event)"
      [post]="post"
    ></app-post>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button routerLink="/create-post">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
